doctype 5
html
	head
		title Simplism - Dashboard
	script(src='/javascripts/jquery-1.10.1.min.js')
	script(src='/javascripts/epiceditor.min.js')
	script(src='/javascripts/dashboard.js')
	link(rel='stylesheet', href='/stylesheets/dashboard.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media='screen')
	body
		#container
			#left
				#nav
					.nav-item#home-nav Home
					.nav-item#post-nav Posts

				#post-list
					- for (post in post_list) {
					- 	post = post_list[post];
						.post-item(data-datetime="#{post.datetime}") 
							=post.title
					- }
			#main
				#home-main
					.input-prepend.blog-title
						span.add-on Blog Title&nbsp;
						input(type="text")#blog-title
					br
					.input-prepend.blog-tags
						span.add-on Blog Tags
						input(type="text")#blog-tags
					

				#post-main
					.input-prepend.post-title
						span.add-on Title&nbsp;
						input(type="text")#post-title
					br
					.input-prepend.post-tags
						span.add-on Tags
						input(type="text")#post-tags
					br
					#epiceditor

					button#save-post.btn-save save
