extends layout

block content
    #container
        #left
            .blog-title
                h1= title
            .blog-tags
                span= tags
            .blog-intro
                include intro.html
            .nav
                ul
                    li.active home
                    li archieve
                    li about
            .footnote
                span= footnote
        #main
            #content
            #loader
                img(src="images/ajax-loader.gif")

