* {
  	padding: 0px;
  	margin: 0px;
  	font-family: Courier New;
}

hr {
	background-color:#C4C5C7;
	box-shadow:1px 1px 1px 1px #C4C5C7 inset;
	margin: 5px;
	height: 1px;
}

clear-both {
	clear: both;
}

#container {
	min-height: 100%;
	height: 100%;
	width: 100%;
}

	#left {
		position: fixed;
		width: 25%;
		height: 100%;
		color: white;
		background-image: url(../images/left-noisy.png);
	}

		.blog-title {
			color: #FAFAFA;
			margin-top: 40px;
			margin-left: 20px;
			height: 30px;
			width: 100%;
			font-size: 18px;
		}

		.blog-tags {
			margin-top: 15px;
			text-align: right;
			color: #FFA537;
			font-size: 12px;
			height: 25px;
			width: 90%;
		}

		.blog-intro {
			font-size: 18px;
			line-height: 40px;
			margin-left: 40px;
			width: 80%;
			color: whitesmoke;
			margin-top: 100px;
		}

		.nav {
			position: absolute;
			right: 0px;
			bottom: 50px;
		}

			.nav ul li {
				padding-top: 15px;
				padding-bottom:5px;
				text-align: center;
				list-style-type: none;
				font-size: 20px;
				font-weight: bold;
				border-left: 5px solid #333B48;
				width: 140px;
				height: 35px;
				color: #DDD;
				background-color: #333B48;
				cursor: pointer;

			}
				.nav ul li.active {
					-webkit-box-shadow: -3px 0px 5px rgba(50, 50, 50, 0.5);
					-moz-box-shadow:    -3px 0px 5px rgba(50, 50, 50, 0.5);
					box-shadow:         -3px 0px 5px rgba(50, 50, 50, 0.5);
					border-left: 5px solid #333B48;
					color: black;
					background-image: url(../images/noisy.png);
				}

				.nav ul li:hover {
					color: black;
					background-image: url(../images/noisy.png);
					border-left: 5px solid #333B48;
					-webkit-box-shadow: -3px 0px 5px rgba(50, 50, 50, 0.5);
					-moz-box-shadow:    -3px 0px 5px rgba(50, 50, 50, 0.5);
					box-shadow:         -3px 0px 5px rgba(50, 50, 50, 0.5);
				}

		.footnote {
			color: #4E549E;
			position: absolute;
			bottom: 10px;
			width: 100%;
			text-align: center;
		}
#main {
	position: absolute;
	right: 0px;
	width: 75%;
	background-repeat: repeat;
	min-height: 100%;
	height: 100%;
}

#loader {
	z-index: 99;
	left: 30%;
	bottom: 0px;
	position: fixed;
	width: 32px;
	height: 32px;
	display: none;
}

	#content {
		width: 100%;
		height: 100%;
		background-image: url(../images/noisy.png);
		padding-top: 25px;
	}

		.post {
			position: relative;
			height: 500px;
			min-height: 500px;
			width: 100%;
			background-image: url(../images/noisy.png);
		}

			.post-meta {
				position: absolute;
				right: 20px;
				color: #A08946;
				font-weight: bold;
				border: 1px solid #C09F3D;
				background-color:#FFD351;
				padding-bottom: 2px;
				padding-right: 5px;
				border-radius: 3px;
			}
				.post-meta-img {
					margin-left: 10px;
					height: 16px;
					width: 16px;
				}

			.post-title {
				margin-left: 10%;
				color: #186092;
				font-size: 36px;
				font-weight: 900;
				height: 40px;
				width: 90%;
			}
			.post-body {
				width: 70%;
				margin-top: 20px;
				margin-left: 10%;
			}


